* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

body {
  background-color: #b7e2ff;
  color: #fff;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 2rem 1.5rem;
}

a {
  text-decoration: none;
  color: white;
}

button a {
  text-decoration: none;
  color: black;
}

hr {
  border-width: 1.5px;
  margin-bottom: 15px;
  border-style: solid;
  color: #425f85;
  border-radius: 50%;
}

.app {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

.app header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.app header h1 {
  color: #fff;
  text-shadow: 3px 4px 2px rgb(84, 84, 84);
  font-size: 40px;
  font-weight: 500;
}

.app header button {
  color: #fff;
  font-size: 18px;
  border-bottom: 1px solid #000000;
  text-transform: uppercase;
}

.buttons {
  min-width: 300px;
  display: flex;
  justify-content: space-between;
}

#create-btn {
  color: black;
}

#home-filter {
  background-color: #ffa9a9;
  padding: 20px;
  margin: 10px 0px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
}

.item:last-of-type {
  margin-bottom: 0;
}

.item input[type="checkbox"] {
  margin-right: 1rem;
}

.item input[type="text"] {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  font-weight: 400;
  color: black;
  font-size: 20px;
  flex: 1 1 0%;
  margin-right: 1rem;
}

.item input[type="text"]:not(:disabled) {
  border-bottom: 2px solid #adadad;
}

.item.complete {
  opacity: 0.7;
}

.item.complete input[type="text"] {
  text-decoration: line-through;
}

.item:hover,
.item:focus-within {
  outline: 2px solid #fff;
}

.actions button {
  color: black;
  margin-right: 1rem;
  opacity: 0.8;
  transform: 0.1s;
}

.actions button.remove-btn {
  color: black;
}

.actions button.calendar-btn {
  color: black;
}

.actions button:hover {
  opacity: 1;
}

.actions button:last-of-type {
  margin-right: 0;
}

.list-title-h2 {
  color: #000000;
}
