input[type="date"] {
    padding: 2px 6px;
    font-size: 13px;
    width: 140px;
    border: 1px solid #aaa;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    transition: border-color 0.3s ease;
}

input[type="date"]:disabled {
    width: 135px;
    background-color: #eee;
    color: #888;
    cursor: not-allowed;
}

.actions input[type="date"] {
    margin-right: 0.3rem;
}

input[type="date"]:not(:disabled) {
    border-color: #3f51b5;
    box-shadow: 0 0 0 2px rgba(63, 81, 181, 0.2);
}

.actions {
    display: flex;
    align-items: center;
}

/*달력*/

body, html {
    overflow-y: hidden;
    height: 100vh;
}

.app {
    height: 100vh;
    overflow: hidden;
}

.calendar-layout {
    display: flex;
    justify-content: flex-start;
    padding-left: 3rem;
    padding-top: 2rem;
}

.calendar-box {
    background-color: white;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    width: fit-content;
    height: fit-content;
}

#calendar-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

#calendar-title {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
}

.calendar-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.calendar-table th,
.calendar-table td {
    border: 1px solid #ddd;
    padding: 10px;
    width: 40px;
    height: 40px;
    color: #333333;
}

.calendar-table th {
    background-color: #f0f0f0;
}